<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,200},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,266},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,394},{54,84}}</string>
                <key>offset</key>
                <string>{8,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,393},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,392},{54,84}}</string>
                <key>offset</key>
                <string>{0,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,393},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,388},{60,84}}</string>
                <key>offset</key>
                <string>{15,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,393},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,268},{62,84}}</string>
                <key>offset</key>
                <string>{5,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,393},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,396},{52,84}}</string>
                <key>offset</key>
                <string>{-3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,393},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{46,84}}</string>
                <key>offset</key>
                <string>{-4,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,393},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{58,84}}</string>
                <key>offset</key>
                <string>{-1,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,266},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,450},{52,82}}</string>
                <key>offset</key>
                <string>{-1,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,395},{52,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,538},{50,80}}</string>
                <key>offset</key>
                <string>{-1,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,397},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,522},{50,80}}</string>
                <key>offset</key>
                <string>{1,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,397},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{56,82}}</string>
                <key>offset</key>
                <string>{10,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,395},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,200},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,338},{66,62}}</string>
                <key>offset</key>
                <string>{0,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,412},{66,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,450},{82,36}}</string>
                <key>offset</key>
                <string>{-10,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,448},{82,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,450},{82,36}}</string>
                <key>offset</key>
                <string>{-11,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,449},{82,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{82,32}}</string>
                <key>offset</key>
                <string>{-10,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,452},{82,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,504},{82,32}}</string>
                <key>offset</key>
                <string>{-10,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,451},{82,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,488},{82,32}}</string>
                <key>offset</key>
                <string>{-10,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,452},{82,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,256},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,488},{58,80}}</string>
                <key>offset</key>
                <string>{-5,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,397},{58,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,256},{66,80}}</string>
                <key>offset</key>
                <string>{-8,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,397},{66,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,486},{62,80}}</string>
                <key>offset</key>
                <string>{-10,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,397},{62,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{436,174},{68,80}}</string>
                <key>offset</key>
                <string>{7,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,397},{68,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,334},{60,84}}</string>
                <key>offset</key>
                <string>{-6,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,393},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,448},{58,82}}</string>
                <key>offset</key>
                <string>{-8,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,395},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,332},{60,84}}</string>
                <key>offset</key>
                <string>{-6,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,393},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,132},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,198},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,132},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,188},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{66,84}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{444,88},{66,84}}</string>
                <key>offset</key>
                <string>{2,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{358,64},{66,84}}</string>
                <key>offset</key>
                <string>{2,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,130},{66,84}}</string>
                <key>offset</key>
                <string>{2,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,393},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,90}}</string>
                <key>offset</key>
                <string>{2,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,391},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{60,90}}</string>
                <key>offset</key>
                <string>{2,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,391},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{60,90}}</string>
                <key>offset</key>
                <string>{2,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,391},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{60,90}}</string>
                <key>offset</key>
                <string>{2,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,391},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,64},{60,88}}</string>
                <key>offset</key>
                <string>{2,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,393},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,126},{60,86}}</string>
                <key>offset</key>
                <string>{2,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,395},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{60,90}}</string>
                <key>offset</key>
                <string>{2,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,391},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,90}}</string>
                <key>offset</key>
                <string>{1,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,391},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,324},{62,84}}</string>
                <key>offset</key>
                <string>{-9,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,393},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,64},{66,84}}</string>
                <key>offset</key>
                <string>{-4,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,392},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,402},{64,82}}</string>
                <key>offset</key>
                <string>{3,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,393},{64,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,86}}</string>
                <key>offset</key>
                <string>{7,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,393},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,330},{60,84}}</string>
                <key>offset</key>
                <string>{7,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,393},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,268},{60,84}}</string>
                <key>offset</key>
                <string>{7,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,393},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,64},{64,86}}</string>
                <key>offset</key>
                <string>{3,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,391},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>walk (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{64,84}}</string>
                <key>offset</key>
                <string>{-3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,393},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magician/magician.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18dee2f981abf03487a6003cc4e10d57:b966283c5f2d39bfda9c558129a2ac70:0e556067f91d62242bbcc8a39bcef4c3$</string>
            <key>textureFileName</key>
            <string>magician/magician.png</string>
        </dict>
    </dict>
</plist>
