<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{526,292},{90,114}}</string>
                <key>offset</key>
                <string>{-10,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,366},{90,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,110}}</string>
                <key>offset</key>
                <string>{-15,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,370},{148,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{724,84},{136,104}}</string>
                <key>offset</key>
                <string>{50,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,376},{136,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{140,98}}</string>
                <key>offset</key>
                <string>{52,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,382},{140,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,548},{98,100}}</string>
                <key>offset</key>
                <string>{32,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,380},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{84,138}}</string>
                <key>offset</key>
                <string>{25,-155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,342},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,400},{116,112}}</string>
                <key>offset</key>
                <string>{8,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,368},{116,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{948,228},{72,112}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,368},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{710,468},{68,112}}</string>
                <key>offset</key>
                <string>{-3,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,368},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{468,514},{64,104}}</string>
                <key>offset</key>
                <string>{-1,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,376},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bedamage (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{710,408},{58,114}}</string>
                <key>offset</key>
                <string>{2,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,366},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{102,90}}</string>
                <key>offset</key>
                <string>{-2,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,408},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{710,328},{114,78}}</string>
                <key>offset</key>
                <string>{-3,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,434},{114,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{710,258},{116,68}}</string>
                <key>offset</key>
                <string>{-4,-222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,444},{116,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,284},{118,64}}</string>
                <key>offset</key>
                <string>{-10,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,447},{118,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{122,64}}</string>
                <key>offset</key>
                <string>{-13,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,448},{122,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dead (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{124,62}}</string>
                <key>offset</key>
                <string>{-13,-225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,450},{124,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{830,228},{74,116}}</string>
                <key>offset</key>
                <string>{1,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,363},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{126,332},{66,120}}</string>
                <key>offset</key>
                <string>{-2,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,363},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{710,190},{66,118}}</string>
                <key>offset</key>
                <string>{-2,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,361},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{828,304},{66,116}}</string>
                <key>offset</key>
                <string>{0,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,362},{66,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{946,342},{76,114}}</string>
                <key>offset</key>
                <string>{5,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,365},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{862,88},{70,118}}</string>
                <key>offset</key>
                <string>{1,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,364},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{862,160},{66,118}}</string>
                <key>offset</key>
                <string>{-2,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,363},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{70,118}}</string>
                <key>offset</key>
                <string>{-1,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,363},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{74,116}}</string>
                <key>offset</key>
                <string>{1,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,363},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{224,514},{56,102}}</string>
                <key>offset</key>
                <string>{6,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,377},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{62,130}}</string>
                <key>offset</key>
                <string>{0,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,329},{62,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,102},{116,130}}</string>
                <key>offset</key>
                <string>{-24,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,284},{116,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{140,90}}</string>
                <key>offset</key>
                <string>{42,-206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,417},{140,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{140,80}}</string>
                <key>offset</key>
                <string>{42,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,430},{140,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{140,94}}</string>
                <key>offset</key>
                <string>{42,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,413},{140,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{74,142}}</string>
                <key>offset</key>
                <string>{13,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,341},{74,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill1 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{826,438},{68,112}}</string>
                <key>offset</key>
                <string>{-2,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,367},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{598,404},{92,110}}</string>
                <key>offset</key>
                <string>{1,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,370},{92,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{598,498},{104,106}}</string>
                <key>offset</key>
                <string>{13,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,376},{104,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{578,180},{130,110}}</string>
                <key>offset</key>
                <string>{4,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,370},{130,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,334},{116,112}}</string>
                <key>offset</key>
                <string>{7,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,338},{116,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{122,144}}</string>
                <key>offset</key>
                <string>{38,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,273},{122,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,220},{112,126}}</string>
                <key>offset</key>
                <string>{16,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,296},{112,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{934,606},{88,106}}</string>
                <key>offset</key>
                <string>{6,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,373},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill2 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{482,450},{62,114}}</string>
                <key>offset</key>
                <string>{1,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,366},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{642,292},{66,110}}</string>
                <key>offset</key>
                <string>{-2,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,370},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{120,514},{94,102}}</string>
                <key>offset</key>
                <string>{0,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,378},{94,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{440,98},{84,136}}</string>
                <key>offset</key>
                <string>{-11,-155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,343},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,126},{98,130}}</string>
                <key>offset</key>
                <string>{-18,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,349},{98,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,226},{104,126}}</string>
                <key>offset</key>
                <string>{-21,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,353},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,184},{98,130}}</string>
                <key>offset</key>
                <string>{-18,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,349},{98,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill3 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{582,94},{84,136}}</string>
                <key>offset</key>
                <string>{-11,-155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,343},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{366,416},{64,114}}</string>
                <key>offset</key>
                <string>{0,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,366},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{354,482},{64,112}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,368},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{240,448},{64,112}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,368},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{820,574},{64,112}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,368},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{706,538},{64,112}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,368},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{824,508},{64,112}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,368},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{482,384},{64,114}}</string>
                <key>offset</key>
                <string>{0,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,366},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{366,350},{64,114}}</string>
                <key>offset</key>
                <string>{0,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,366},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{826,372},{64,114}}</string>
                <key>offset</key>
                <string>{0,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,366},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,646},{80,72}}</string>
                <key>offset</key>
                <string>{11,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,409},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{80,72}}</string>
                <key>offset</key>
                <string>{12,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,409},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{106,610},{80,72}}</string>
                <key>offset</key>
                <string>{12,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,409},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{224,572},{80,72}}</string>
                <key>offset</key>
                <string>{12,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,409},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{80,70}}</string>
                <key>offset</key>
                <string>{11,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,411},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{84,684},{80,70}}</string>
                <key>offset</key>
                <string>{11,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,411},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,580},{78,72}}</string>
                <key>offset</key>
                <string>{11,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,409},{78,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{938,532},{80,72}}</string>
                <key>offset</key>
                <string>{11,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,409},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stun (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{940,458},{80,72}}</string>
                <key>offset</key>
                <string>{11,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,409},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers/soldiers.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ede27ddad75d4a3fc3dd96d6be8145ef:8dca5cd407f8d1d08a926690c59ec301:54157a3c4366c38388c96b01b151b9c3$</string>
            <key>textureFileName</key>
            <string>soldiers/soldiers.png</string>
        </dict>
    </dict>
</plist>
